.choice-container{
	display: flex;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1.8rem;
	border: 0.1rem solid darkblue;
	background-color: white;
}

.choice-prefix{
	padding: 1.5rem 2.5rem;
	background-color: darkblue;
	color: white;
}

.choice-text{
	padding: 1.5rem;
	width: 100%; 
}

/*
	the same thing like btn css at style.css !
*/
.choice-container:hover{
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 steelblue; /* rgba(86, 185, 235, 0.5) */
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.correct{
	background-color: #28a745;
}

.incorrect{
	background-color: #dc3545;
}


/*
	Head up display
*/

#head-display{
	display: flex;
	justify-content: space-between;
}

.head-prefix, .head-text{
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.head-text{
	color: darkblue;
}
