:root {
  background-color: #ecfsff;
  /*
		By default in most on the browser the font-size is 16px
		Fixing the font size at 62.5% is equivalent to fixing it at 10px
  */
  font-size: 62,5%;
}

/*
	For all elements
*/
*{	/*
		border-box:
			If you set an element's width to 100 pixels, 
			that 100 pixels will include any border or padding you added,
			and the content box will shrink to absorb that extra width.  
	*/
	box-sizing: border-box;
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;

}

h1,h2,h3,h4{
	margin-bottom: 1rem;
}

h1{
	color: darkblue;
}

h1 > span{
	font-weight: 500;
}


/*
	Container and class flex-X CSS
*/
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50rem; /* to fix at 80 rem after */
	margin: 0 auto;
	padding: 2rem;
}

.container > *{
	width: 100%;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-center{
	justify-content: center;
	align-items: center;
}


.justify-center{
	justify-content: center;
}

.text-center{
	text-align: center;
}

.hidden{
	display: none;
}

/* Buttons */

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid steelblue; /*  #56a5eb */
  margin-bottom: 1rem;
  text-decoration: none;
  color:  darkblue; /* or use #56a5eb */
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 steelblue; /* rgba(86, 185, 235, 0.5) */
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}